
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
@media (prefers-reduced-motion: no-preference) {
}

/* STRIPPING STYLES */
body, h1, h2, 
h3, ul, li, 
p, form, label, 
select, option, 
button, footer {
    margin: 0;
    padding: 0;
}

ul { list-style: none; }

/* TYPOGRAPHY STYLES */
html { font-size: 125%; } /* 20px default*/

body {
    letter-spacing: 0.8px;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #FFE3DC;
}

h2, h3, select { font-size: 1rem; }

body, .highlightContainer,
.highlight, select { color: #3A2D32; }

select, footer { letter-spacing: 1.2px; }

h2, h3, .polaroidText p { letter-spacing: 1px; }

h2, label { text-align: right; }

.errorMessage, .polaroidText, footer { text-align: center; }

button, label, select, footer { font-weight: bold; }

h1, .polaroidText p { font-family: 'Satisfy', cursive; }

/* WRAPPER */
.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

/* GENERAL IMAGE STYLES */
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* GENERAL BUTTON STYLES */
button, a { color: inherit; }

button {
    letter-spacing: 1.2px;
    background-color: #F4CBC6;
    border: 3px solid #3A2D32;
}

button, select, a { cursor: pointer; }

/* DISPLAY/FLEXBOX */
img, .highlightContainer:before, 
.authorHighlight:before { display: block; }

a, .highlightContainer, 
.gradient, .polaroidText p { display: inline-block; }

.flexContainer { display: flex; }

main, .selectionContainer, 
.polaroidCard, .polaroidText {
    flex-direction: column;
    justify-content: center;
}

main, form,
.selectionContainer, .polaroidText { align-items: center; }

/* POSITION */
.highlightContainer, .highlight, 
.camera, .imageContainer,
.polaroidText p, .authorHighlight:before { position: relative; }

.rainbowContainer, .overlay,
.highlightContainer:before { position: absolute; }

/* STYLING FOR HIGHLIGHTS */
.highlightContainer:before, 
.authorHighlight:before {
    content: " ";
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    padding: 10px 3px 3px 10px;
    border-radius: 20% 25% 20% 24%;
    opacity: 0.7;
    transform: rotate(-3deg);
}

/* BACKGROUND COLORS */
.highlightContainer:before, 
select, .polaroidCard,
.submit:hover, .submit:focus { background-color: #FFF; } 

/* WIDTH/HEIGHT */
.rainbowContainer, label, 
.selectButtonDiv, .polaroidImage { width: 100%; }

main { min-height: calc(100vh - 180px); }